<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>StringsTable</key>
    <string>Root</string>
    <key>PreferenceSpecifiers</key>
    <array>
      <dict>
	<key>FooterText</key>
	<string>Controls music sequence repetitions and variations.</string>
	<key>Title</key>
	<string>Music Generation</string>
	<key>Type</key>
	<string>PSGroupSpecifier</string>
      </dict>
      <dict>
	<key>Type</key>
	<string>PSTextFieldSpecifier</string>
	<key>Key</key>
	<string>seqRepNorm</string>
	<key>Title</key>
	<string>Normal</string>
	<key>DefaultValue</key>
	<real>48</real>
	<key>KeyboardType</key>
	<string>NumbersAndPunctuation</string>
	<key>AutocapitalizationType</key>
	<string>None</string>
	<key>AutocorrectionType</key>
	<string>No</string>
      </dict>
      <dict>
	<key>Type</key>
	<string>PSTextFieldSpecifier</string>
	<key>Key</key>
	<string>seqRepVar</string>
	<key>Title</key>
	<string>Variation</string>
	<key>DefaultValue</key>
	<real>18</real>
	<key>KeyboardType</key>
	<string>NumbersAndPunctuation</string>
	<key>AutocapitalizationType</key>
	<string>None</string>
	<key>AutocorrectionType</key>
	<string>No</string>
      </dict>
      <dict>
	<key>FooterText</key>
	<string>Controls random number generation sequence. Using the same seed value will recreate the same music. Setting to zero (0) will force a new random sequence at startup.</string>
	<key>Type</key>
	<string>PSGroupSpecifier</string>
      </dict>
      <dict>
	<key>Type</key>
	<string>PSTextFieldSpecifier</string>
	<key>Title</key>
	<string>Seed</string>
	<key>Key</key>
	<string>randomSeed</string>
	<key>DefaultValue</key>
	<string>123</string>
	<key>KeyboardType</key>
	<string>NumbersAndPunctuation</string>
	<key>AutocapitalizationType</key>
	<string>None</string>
	<key>AutocorrectionType</key>
	<string>No</string>
      </dict>
      <dict>
	<key>FooterText</key>
	<string>Variation in note timing and duration. Value is in "mili-beats", where 480 is a quarter note.</string>
	<key>Type</key>
	<string>PSGroupSpecifier</string>
      </dict>
      <dict>
	<key>Type</key>
	<string>PSTextFieldSpecifier</string>
	<key>Title</key>
	<string>Note Slop</string>
	<key>Key</key>
	<string>noteTimeSlop</string>
	<key>DefaultValue</key>
	<string>0</string>
	<key>KeyboardType</key>
	<string>NumbersAndPunctuation</string>
	<key>AutocapitalizationType</key>
	<string>None</string>
	<key>AutocorrectionType</key>
	<string>No</string>
      </dict>
      <dict>
	<key>FooterText</key>
	<string>Copyright (C) 2015 Brad Howes</string>
	<key>Type</key>
	<string>PSGroupSpecifier</string>
      </dict>
      <dict>
	<key>DefaultValue</key>
	<string>1.0</string>
	<key>Key</key>
	<string>version</string>
	<key>Title</key>
	<string>Version</string>
	<key>Type</key>
	<string>PSTitleValueSpecifier</string>
      </dict>
    </array>
  </dict>
</plist>
